---
title: Romiley & Hazel Grove Walking Club
layout: layouts/home.njk
description: Description. Update me.
image:
date: Last Modified
---

<div id="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
