<ul class="post-list">
{% for post in postslist | reverse %}
  <li class="post-list__item">
    <a class="card" href="{{ post.url | url }}">
      <img src="/img/hero.jpg" alt="">
      <div class="card__body">
        <h2 class="card__title">{{ post.data.title }}</h2>
        <time class="card__time" datetime="{{ post.date | htmlDateString }}">
          {{ post.date | readableDate }}
        </time>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
